absl-py
argon2-cffi
astroid
async-generator
attrs
backcall
beautifulsoup4
bleach
bs4
cachetools
certifi
cffi
chardet
click
cycler
dataclasses
decorator
defusedxml
entrypoints
faiss-cpu
filelock
future
google-auth
google-auth-oauthlib
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
Keras
kiwisolver
lazy-object-proxy
limit
lmdb
lxml
Markdown
MarkupSafe
matplotlib
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
oauthlib
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptvsd
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytorch-crf
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rsa
sacremoses
scikit-learn
scipy
Send2Trash
sentencepiece
seqeval
simplejson
six
soupsieve
suds-py3
tensorboard
tensorboard-plugin-wit
tensorboardX
terminado
testpath
threadpoolctl
tokenizers
toml
TorchCRF
tornado
tqdm
traitlets
transformers>=4.36.0
typed-ast
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wos
wrapt
zipp